{% extends 'base.html.twig' %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {{ app.user.username }}

    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% block fos_user_content %}
        {% endblock %}
    {% endif %}

{% endblock %}